.btn-custom3,
.button3 {
  border: none;
  background-color: rgb(121, 203, 187);
  font-size: "12px";
  padding: 8px;
  border-radius: 10%;
  color: #000000;
  font-weight: 200;
}

.formLabel {
  font-size: 12px;
  padding-left: 2px;
}

@media (max-width: 600px) {
  /* CSS styles for mobile devices (screens 768px and smaller) */
  /* Example: Smaller font size, different layout, etc. */
  .body {
    margin: 0rem 5rem 0rem 5rem;
  }
  .logoContainer {
    display: flex;
    flex-direction: row;
    width: auto;
    padding-top: 18vh;
    align-items: center;
    order: 1;
  }
  .opsgName {
   font-size: clamp(14px, 30px, 30px);
  }
  .backgroundAccent {
    background-color: #e5fffd;
    height: 85vh;
    width: 100%;
  }
  .secondaryHeaderBox {
    padding-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 14px;
    justify-content: center;
  }

  .secondaryHeaderBox > * {
    border-radius: 1vw;
  }
  .introTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem 0rem 2rem;
    order: 2;
  }
  .introTextFirstLine {
    color: #558e89;
    font-weight: 200;
    font-size: 60px;
    margin: 6rem 0rem 2rem 0rem;
  }
  .introTextSecondLine {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 60px;
    margin: 0rem 0rem 2rem 2rem;
  }
  .mainImage {
    display: flex;
    max-height: 60vw;
    flex-shrink: 1;
    order: 3;
  }
}

@media (min-device-width: 768px) {
  /* CSS styles for desktop devices (screens larger than 768px) */
  /* Example: Larger font size, different layout, etc. */

  .introContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    gap: 2vw;
  }

  .logoHeaderContainer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 40vh;
    align-items: center;
    margin: 0rem 1rem 0rem 1rem;
  }
  .logoAndSubtextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoContainer {
    display: flex;
    flex-direction: row;
    font-weight: 200;
    align-items: center;
    margin-top: 8vh;
    flex-shrink: 1;
  }
  .opsgName {
    font-size: clamp(14px, 40px, 40px);
    font-weight: 200;
    flex-wrap: nowrap;
  }

  .backgroundAccent {
    background-color: #e5fffd;
    height: 100%;
    width: 100%;
  }
  .secondaryHeaderBox {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    font-size: clamp(12px, 16px, 16px);
  }
  .secondaryHeaderBox > * {
    border-radius: 1vw;
  }

  .introTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem 0rem 1rem;
  }
  .introTextFirstLine {
    color: #558e89;
    font-weight: 200;
    font-size: clamp(30px, 60px, 60px);
    margin: 6rem 0rem 2rem 0rem;
  }
  .introTextSecondLine {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: clamp(30px, 60px, 60px);
    margin: 0rem 0rem 2rem 2rem;
  }

  .imageWrapper {
    border-color: solid black 10px;
    display: flex;
    display: contents;
  }
  .mainImageContainer {
    width: 45rem;
    margin-right: 5rem;
  }
  .mainImage {
    width: 100%;
    height: auto;
    border-radius: 2%;
    filter: drop-shadow(8px 8px 10px gray);
  }
  
  .counterWrapperContainer {
    width: auto;
  }
  .centeredCounter {
    font-size: clamp(20px, 60px, 60px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: #558e89;
    font-weight: 200;
    line-height: var(--bs-body-line-height);
    z-index: 2;
  }
  .usMap {
    width: 100%;
    height: auto;
    opacity: 8%;
    width: 60rem;
    transform: translate(-6%, 10%);
  }
  .loginRegisterFormContainer {
    background-color: white;
    width: 40rem;
    border-radius: 2%;
    filter: drop-shadow(8px 8px 10px gray);
    max-width: 50rem;
    margin: auto;
  }
  .loginRegisterHeader {
    background-color: rgb(234, 234, 234);

  }
  .loginRegisterForm {
    padding: 2rem;
  }
  /* .cardsContainer {
    margin: 12rem 5rem 12rem 5rem;
    max-width: 200rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } */
  .card-img {
    width: 25%;
    display: block;
    align-self: anchor-center;
    padding-bottom: 4vh;
    padding-top: 2.5vh;
  }
  .card-body {
    background-color: #79cbbb; 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
    min-width: 15rem;
  }
  .card-title {
    font-size: clamp(14px, 30px, 30px);
    font-weight: 200;
    margin-bottom: 2rem;
  }
  .card-subtitle {
    font-size: clamp(12px, 20px, 20px);
    font-weight: 200;
  }
  .card-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: clamp(10px, 16px, 16px);
    font-weight: 200;
    margin: 1rem 2rem 2rem 2rem;
  }

  .formCard {
    background-color: white !important;
    border-radius: 2%;
    filter: drop-shadow(8px 8px 10px gray);
    padding: 2rem;
    max-width: 50rem;
    margin: auto;
  }
  .edit-profile {
    margin: 0rem 5rem 5rem 10rem;
    padding: 0rem 10rem 5rem 10rem;
  }
}
