.dash-nav-container {
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: #272d32;
  transition: width 0.3s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

/* Width control */
.dash-nav-container.collapsed {
  width: 60px;
}

.dash-nav-container.expanded {
  width: 180px; 
}

.dash-sidebar {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dash-nav-toggle {
  background-color: #79cbbb !important;
  border: none !important;
  color: #1a1a1a !important;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2rem auto;
  font-size: 1.2rem;
}

.dash-nav-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dash-nav-link {
  background: none;
  border: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  width: 100%;
  text-align: left;
  transition: background 0.2s;
  overflow: hidden; 
  white-space: nowrap;
}

.dash-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dash-nav-link i {
  font-size: 1.4rem;
  min-width: 30px;
}


.dash-link-text {
  margin-left: 1rem;
  font-weight: 200;
  font-size: 15px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.collapsed .dash-link-text {
  opacity: 0;
  pointer-events: none;
}

.logout-btn {
  margin-top: auto; 
  color: #ffb3b3;
}

@media (max-width: 768px) {
.dash-nav-container.expanded {
  box-shadow: 5px 0 15px rgba(0,0,0,0.3);
}
}