@media (min-device-width: 768px) {
  /* CSS styles for desktop devices (screens larger than 768px) */
/* Home Cards base style */

.homePageCards {
  background-color: #79cbbb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  height: 15rem;
  width: 20rem;
  margin: 2rem;
}

.homePageCards:hover {
  transform: translateY(-40px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  z-index: 10;
}

/* Card content */
.homePageCards .card-body {
  background-color: #79cbbb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.homePageCards .card-title {
  font-size: clamp(16px, 1.8vw, 28px);
  font-weight: 200;
  margin: 1.5rem 0;
}

.homePageCards .card-subtitle {
  font-size: clamp(14px, 1.2vw, 20px);
  font-weight: 200;

}

.homePageCards .card-text {
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 200;
  margin: 0 1.5rem 1.5rem 0rem;
}

/* Card Image */
.homePageCardImage {
  width: 72px;
  height: 72px;
  object-fit: contain;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

  .background {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .backgroundAccent {
    flex: 1;
  }
}

@media (max-width: 768) {
  .footerTextWrapper {
    flex-direction: column;
    gap: 20px;
  }
  .btmFooterTextBox {
    text-align: center;
  }
  .btmFooterTextBox img {
    width: 24px !important;
  }
.counterWrapper {
  padding-left: 2vw;
}
.counterWrapperContainer {
  position: relative;
  text-align: center;
  color: black;
}
.centeredCounter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}

@media (max-width: 600px) {
  /* CSS styles for mobile devices (screens 768px and smaller) */
  .footerTextBoxes {
    display: flex;
    justify-content: center;
  }
  .usMap {
    transform: translate(14%, 0%);
  }
}

