.main-container {
  background-color: #393939;
  height: 100%;
}
.invoice-container {
  background: #ffff;
  max-width: 40rem;
  height: 39rem;
  margin: 1rem 0rem 5rem 13rem;
  padding: 2rem;
  color: rgb(155, 155, 155);
  filter: drop-shadow(8px 8px 10px rgb(23, 23, 23));
}
.invoice-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5rem;
  color: black;
}
.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -0.75rem 0rem 2rem 0rem;
}
.user-company-info-container {
  color: black;
  font-size: 12px;
  margin: -6.5rem 0rem 0rem 27rem;
}
.invoice-address {
  line-height: 0.5rem;
  line-height: .25rem;
}
th.amount-column {
  margin-left: 50rem;
}
.balance-due {
  font-size: 18px; 
  color: red;
  font-weight: 400; 
  margin-left: 16.85rem;
}
.payment-button {
  color: black;
  border: 1px solid black;
  padding: 8px;
  border-radius: 2em;
  font-weight: 200;
  position: absolute;
  margin: 5rem 0rem 0rem 12.5rem;
}
.table {
  margin-top: 5rem;
}
