.main-container {
  background-color: #393939;
  height: 100%;
}
.invoice-container {
  background: white;
  max-width: 60vw;
  margin: 0vw 0vw 0vw 25vw;
  padding: 2rem;
  margin-left: 10rem;
}
.text-top-left {
  position: absolute;
  color: black;
  width: 10vw;
  font-size: 1vw;
  font-weight: 200;
  margin-left: 2vw;
}
.table {
  margin-top: 5vw;
}