.navbar {
  filter: drop-shadow(5px 3px 5px rgb(218, 217, 217));
}

.usr-image2 {
  border: 2px solid #ffff;
}

.opsg-navbar-logo {
  width: 3rem;
  height: 3rem;
}

.nav-logo-wrapper {
  display: flex;
  margin-left: 3rem;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  font-size: clamp(0.85rem, 0.5vw, 8rem);
}

.navbar-item {
  gap: 1rem;
  border: none;
}
.list-group-item-action {
  width: auto;
}
.navbar-item:hover {
  border-radius: 20% / 60%;
}

.login-register-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 4rem;
}

.reactive-btn.rounded.login-register-btn-custom {
  font-size: clamp(0.85rem, 0.75vw, 8rem);
  background-color: #558e89;
}

@media (max-width: 600px) {
  .main-screen-buttons {
    width: 2px;
  }

  .bg-light2 {
    --bs-bg-opacity: 1;
    background-color: #ffff;
    padding-bottom: 3em;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .bg-light2 {
    --bs-bg-opacity: 1;
    background-color: #ffff;
    max-height: 90px;
    width: 100%;
  }
}

/* Bootstrap button styling override */
.nav-toggle {
  background: none;
  border: none;
  padding: 0;
  color: black;
  cursor: pointer;
}

.navBar .nav-toggle.toggle-active:after {
  display: block;
}

.main-links-wrapper {
  width: 60%;
}
.main-links {
  display: flex;
  flex-direction: row;
  font-size: clamp(0.85rem, 0.75vw, 8rem);
  gap: 4vw;
}
