.services-header {
  margin: auto;
  font-size: 40px;
  font-weight: 100;
  padding-bottom: 4rem;
  color: #558e89;
}

/*Service cards*/
.services-section-container {
  display: grid;
  justify-content: stretch;
  justify-items: center;
}


.info-card {
  background-color: #79cbbb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
  transform 0.25s ease-in-out,
  box-shadow 0.25s ease-in-out;
  max-width: 300px;
  min-width: 250px;
  width: 100%;
  margin: 0 auto;
}

.info-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.info-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  height: 220px;
}

.info-card-image-wrapper {
  height: 120px;
  width: 100%;
  margin-top: 1rem;
}

.info-card-image {
  height: 50%;
  width: 30%;
  object-fit: cover;
}

.card-header {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 5rem;
  font-weight: 100;
  font-size: 40px;
  max-width: 60%;
  margin: auto;
}

.card-description {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 2rem;
}

.card-title {
  margin-top: 1rem;
}

.card-subtitle {
  margin-top: 2rem;
}

/* Why choose OPSG section */
.why-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.why-paras-wrapper {
  width: 38rem;
  margin-right: 5rem;
  max-width: 50%;
  font-weight: 200;
  font-size: 18px;
}

.why-para-section {
  margin: 2rem;
}

.services-main-image {
  width: 50%;
  border-radius: 2%;
  filter: drop-shadow(8px 8px 10px gray);
}
