/* Home Cards base style */
.homeCards {
  background-color: #79cbbb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  transform-origin: center;
  height: 15rem;
  width: 20rem;
  margin: 2rem;
}

.homeCards:hover {
  transform: translateY(-40px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  z-index: 10;
}

/* Card content */
.homeCards .card-body {
  background-color: #79cbbb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.homeCards .card-title {
  font-size: clamp(16px, 1.8vw, 28px);
  font-weight: 200;
  margin: 1.5rem 0;
}

.homeCards .card-subtitle {
  font-size: clamp(14px, 1.2vw, 20px);
  font-weight: 200;
  margin-top: 1rem;
}

.homeCards .card-text {
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 200;
  margin: 0 1.5rem 1.5rem;
}

/* Card Image */
.homeCardImage {
  width: 72px;
  height: 72px;
  object-fit: contain;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

/* Tablet size */
@media (max-width: 768px) {
  .homeCards {
    margin: 1.5rem;
    max-width: 24rem;
  }
}


/* Mobile size */
@media (max-width: 600px) {
  .homeCards {
    transform: scale(0.9);
    margin: 1rem;
  }

  .homeCards:hover {
    transform: scale(0.95);
  }
}
