/* Base Layout */
.profile-header {
  background-color: rgb(48, 48, 48);
  color: white;
  flex-shrink: 1;
  padding: 1rem;
}

/* Header Styles */
.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.opsg-header-logo {
  margin: 0rem 1rem 1rem 5rem;
  width: 3rem;
  height: 3rem;
}

.welcome-header {
  color: white;
  width: 50%;
}

.welcome-header-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 100;
}

.welcome {
  margin-right: 2%;
}

.opsg-header-text-container {
  width: 100%;
}

.opsg-header-text {
  background: #26bcba;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 30px;
  width: 100%;
}

/* Card Styles */

.stats-grid {
  margin-top: 1.5rem;
}

/* Interactive Elements */
.logo-hover {
  transition: all 0.3s ease;
}

.logo-hover:hover {
  transform: rotate(-5deg) scale(1.05);
}


