/* Base Layout */
.profile-header {
  background-color: rgb(48, 48, 48);
  color: white;
  flex-shrink: 1;
  padding: 1rem;
}

/* Header Styles */
.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.opsg-logo {
  width: clamp(40px, 6vw, 90px);
  aspect-ratio: 1/1;
  margin-right: 2%;
}

.welcome-header {
  color: white;
  font-size: 1.8rem;
  margin: 0% 0% 0% 1%;
  width: 50%;
}

.welcome-header-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  font-size: large;
  margin: 2% 0% 0% 5%;
}
.welcome {
  margin-right: 2%;
}

.opsg-header-text {
  background: #26bcba;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: xx-large;
}

/* Card Styles */

.stats-grid {
  margin-top: 1.5rem;
}

/* Interactive Elements */
.logo-hover {
  transition: all 0.3s ease;
}

.logo-hover:hover {
  transform: rotate(-5deg) scale(1.05);
}


