/* Base Layout */
.profile-header {
  background-color: #272d32;
  color: #ffff;
  padding: 1rem;
}

/* Header Styles */
.header-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
}

.opsg-header-logo {
  margin: 0vw 1vw 0vw 5vw;
  width: 3rem;
  height: 3rem;
}

.welcome-header {
  color: #ffff;
  width: 50%;
  font-size: medium;
  margin-top: 1vw;
}

.welcome-header-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 100;
}

.welcome {
  margin-right: 2%;
}

.opsg-header-text-container {
  width: 100%;
  margin-top: 1vw;
}

.opsg-header-text {
  background:#79cbbb;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 30px;
  width: 100%;
}

/* Card Styles */

.stats-grid {
  margin-top: 1.5rem;
}

/* Interactive Elements */
.logo-hover {
  transition: all 0.3s ease;
}

.logo-hover:hover {
  transform: rotate(-5deg) scale(1.05);
}


